<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>wclimb管理后台</title>
	<link rel="icon" href="http://www.wclimb.site/images/avatar.png">
</head>
  <link href="http://cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet">
  <script src="http://cdn.bootcss.com/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.js"></script>
<body>
	<style>
		img{
			width: 50px;
		}
		.right .item {
			margin: 0 -0.5em!important;
		}
		th,td{
			text-align: center!important;
		}
	</style>
	<div class="ui inverted segment"  style="margin-top: 0;">
	    <div class="ui inverted secondary menu">
	    	<a class="item"  href="/">Home</a>
	    	<a class="item" href="/upload">上传数据</a>
	    	<a class="item" href="/adminUser">后台管理员列表</a>
	    	<a class="item" href="/mobileUser">手机用户列表</a>
	    	<a class="item" href="/comment">用户评论</a>
	    	<a class="item" href="/like">喜欢/不喜欢</a>
	    	<a target="__blank" href="https://github.com/wclimb" class="item">GitHub</a>
		</div>
	</div>
	<form class="ui form segment" method="post" action="/signin" style="width: 30%;margin: 0 auto;">
	  <div class="field">
	    <label>用户名</label>
	    <input type="text" name="userName" placeholder="用户名">
	  </div>
	  <div class="field">
	    <label>密码</label>
	    <input type="password" name="password" placeholder="密码">
	  </div>
	  <button class="ui fluid primary button" type="submit">登录</button>
	</form>
<script>
$(function(){
  $('.ui.dropdown').dropdown()
  $('.ui.form')
  .form({
      	inline : true,
    	on   : 'blur',
    	fields: {
	       userName: {
	        identifier: 'userName',
	        rules: [
	          {
	            type   : 'empty',
	            prompt : '请输入用户名！'
	          }
	        ]
	     	},
	     	password: {
	        identifier: 'password',
	        rules: [
	          {
	            type   : 'empty',
	            prompt : '请输入密码！'
	          }
	        ]
	     
	  }
    }
  })
;
})
</script>
<% include footer %>          